/* Reset CSS */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  padding: 0;
  border: 0;
  list-style: none;
}

button,
input {
  outline: none;
  cursor: pointer;
  overflow: hidden;
}
button,
select {
  text-transform: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5em;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}
/* Default CSS */
body {
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: #fff;
  color: #222;
}

/*  #####################  Header #####################   */
header {
  position: fixed;
  padding-right: initial;
  width: 100%;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
  background-color: #fff;
}
.header-inner {
  margin: 0 auto;
  height: 50px;
  max-width: 1060px;
  position: relative;
  display: flex;
  align-items: center;
}

.mainBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainBar_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hambergerImg {
  height: 14px;
  width: auto;
  margin-right: 10px;
}
.mainBar_logo {
  height: auto;
  width: 85px;
}

.gnb {
  margin-left: 60px;
  margin-right: 30px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.menu {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}
.gnb a {
  position: relative;
  vertical-align: middle;
  padding: 15px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}

.aside {
  padding: 9px 0;
  margin: 0;
  border: 0;
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.aside ul {
  display: flex;
}
.aside ul li {
  padding: 0 10px;
  position: relative;
  height: 100%;
}
.searchButton {
  margin-top: 5px;
}
.notiButton {
  margin-top: 5px;
}
.profileBox {
  display: inline-flex;
  flex-direction: row;
  margin-left: -15px;
}

.avatarBorder {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.avatarBorder > div {
  background-image: url("/images/avatar.jpeg");
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.profileButton {
  position: relative;
}
.notificationAlarm span {
  position: absolute;
}

.Badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #36f;
}
.leftDivision {
  display: inline-flex;
}
.leftDivision::before {
  display: block;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #e1e2e3;
  margin: auto 10px;
}
.dashboardButton {
  font-size: 13px;
  color: #666;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  font-weight: 400;
  margin-left: 5px;
}

.padding {
  height: 50px;
}
/*  ##################### Main carousel #####################  */
@media (min-width: 1200px) {
  main {
    display: block;
    padding-top: 25px;
    z-index: 1;
  }

  .topBanner {
    position: relative;
    overflow: hidden;
    height: auto;
  }

  .slik-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 300vw;
    transform: translate(-800px);
  }

  .slik-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
  }

  .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
  }

  .slick-center {
    transform: translate(-800px);
  }

  .slik-slide {
    width: 1060px;
    position: relative;
    display: block;
    float: left;
    height: 100%;
    min-height: 1px;
    padding: 0 12px;
    box-sizing: content-box;
  }

  .image {
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0 0;
  }

  .image > img {
    display: inline-block;
  }
  .image_image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }

  .information {
    text-align: center;
  }

  .information > h2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    width: "auto";
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .information > h3 {
    margin-top: 6px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.15;
    color: #666;
    width: "auto";
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .information_directButton {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #36f;
  }

  .Btn_label {
    display: inherit;
    height: 40px;
  }

  .Btn_label > span > svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    font-size: inherit;
  }

  .next-arrowBtn {
    right: calc((100% - 1200px) / 2);
  }

  .prev-arrowBtn {
    left: calc((100% - 1210px) / 2);
  }

  .topBanner-arrow {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 120px;
    width: 30px;
    height: 60px;
    opacity: 0.5;
    border-radius: 15px;
    background-color: rgb(80, 75, 75);
    font-size: 16px;
  }

  .svgIgon {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
  }
}
