.ResponsiveMenu {
  display: none;
}

@media screen and (max-width: 1199px) {
  .ResponsiveMenu {
    display: inline-block;
    height: 14px;
    width: auto;
    margin-right: 10px;
  }
  .MenuALink {
    position: relative;
    top: -45px;
    left: 50px;
    vertical-align: middle;
    padding: 15px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
}
